<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0p2kmB62eSu5O9NQ5bDVvWy8v38qYiBU</string>
	<key>GCM_SENDER_ID</key>
	<string>606763588417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mytown.cabs</string>
	<key>PROJECT_ID</key>
	<string>mytowncabs-3eadc</string>
	<key>STORAGE_BUCKET</key>
	<string>mytowncabs-3eadc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606763588417:ios:4161efad2288b5ecd61fc0</string>
</dict>
</plist>